@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body {
  font-size: 1.6rem;
}

code {
  font-family: 'Fira Code', monospace;
}

.badges {
  img {
    margin-bottom: 0;
  }
  &:hover {
    border-bottom: none;
  }
}
